---
import Layout from '../layouts/Layout.astro';
import MainContent from "../components/MainContent.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	
	<section id="hero">
		<Hero />
	</section>

	
	<MainContent />
</Layout>
