---
import '../styles/global.css';
---

<section class="flex flex-col  bg-gray-200 dark:bg-gray-950 text-gray-900 dark:text-gray-300 px-6 gap-4 pt-20" id="about"  >
    <p><span class="font-bold">Fourth-year Computer Engineering </span> student with hands-on experience in React, Node.js, and PostgreSQL. Skilled in developing efficient applications and solving complex problems with a strong academic background.</p>
    <p>Created a YouTube project to enhance communication and <span class="font-bold">soft skills</span>, effectively simplifying technical concepts for a broad audience.</p>
    <p>Committed to both my academic journey and professional projects, with a proactive, results-driven approach to continuous improvement and collaboration.</p>

    
</section>