---
// Header.astro
---

<header id="header" class="flex w-full bg-gray-200 dark:bg-gray-950 text-gray-900 dark:text-gray-100 px-6 sticky">
    <section class="xl:min-h-screen flex flex-col xl:place-content-between items-start pt-10 xl:pt-20 xl:pb-20">
      <div>
      <h1 class="xl:text-7xl text-5xl bg-gradient-to-r from-gray-700 via-gray-800 to-gray-900  dark:from-orange-100 dark:via-orange-200 dark:to-orange-300 opacity-90 bg-clip-text text-transparent text-left font-extrabold ">Alexis</h1>
      <h3 class="mt-2 text-2xl font-bold text-balance mb-2">Student Computer Science</h3>
      <p class="text-lg font-sans">
        I turn your dreams into reality with 0s and 1s, crafting seamless digital experiences for the web.
      </p>
      
      <div class="flex items-center p-1 gap-1 rounded-2xl bg-green-300 border-2 border-green-600 dark:border-orange-400 dark:bg-orange-200 px-2 mt-6 w-3xs">
      <span class="relative flex size-3 m-auto">  
      <span class="absolute inline-flex h-full w-full animate-ping rounded-full dark:bg-orange-400 bg-green-400 opacity-75">
      </span><span class="relative inline-flex size-3 rounded-full dark:bg-orange-500 bg-green-500">
      </span></span>
      <h5 class="text-green-950 dark:text-orange-800 font-semibold">Open to new opportunities</h5>
      </div>

      <ul class="xl:flex hidden gap-4 mt-20 flex-col tracking-wider text-gray-700 dark:text-gray-200">
        <li class="flex items-center gap-3 group hover:font-bold">
          <div class="w-10 border-t border-gray-900 transition-all duration-300 group-hover:w-13 dark:border-gray-200 "></div>
          <a href="#about" class=" hover:font-bold transition-all duration-75">About</a>
        </li>
        <li class="flex items-center gap-3 group hover:font-bold">
          <div class="w-10 border-t border-gray-900 transition-all duration-300 group-hover:w-13 dark:border-gray-200 "></div>
          <a href="#projects" class="hover:font-bold transition-all duration-75 ">Projects</a>
        </li>
        <li class="flex items-center gap-3 group hover:font-bold">
          <div class="w-10 border-t border-gray-900 transition-all duration-300 group-hover:w-13 dark:border-gray-200 "></div>
          <a href="#skills" class="hover:font-bold transition-all duration-75">Skills</a>
        </li>
      </ul>
      
      
    </div>
      
      <div class="flex gap-4 mt-6">
        <a href="https://github.com/MeierAlexis/" target="_blank"><img src="./github.svg" alt="GitHub" class="w-10 h-10 dark:invert opacity-80 hover:opacity-100 transition-all duration-75" /></a>
        <a href="https://www.linkedin.com/in/alexis-meier/" target="_blank"><img src="./LinkedIn.webp" alt="LinkedIn" class="w-10 h-10 opacity-80 hover:opacity-100 transition-all duration-75" /></a>
        <a href="CV.pdf"target="_blank"><img src="./cv.svg" alt="cv" class="w-10 h-10 opacity-80 hover:opacity-100 transition-all duration-75 dark:invert "/></a>
      </div>
    </section>
  </header>
  